* {
    box-sizing: border-box;
}

@media screen and (max-width: 600px) {
    body {
        width: 100vmin;
        color: #333;
        margin: 0px;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
            Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
}

header h1 {
    font-family: cursive;
    text-align: center;
    font-size: 40px;
    color: white;

}

header {
    padding: 40px;
    background-color: skyblue;
}

nav {
    background-color: #333;
    overflow: hidden;
    text-align: center;
    padding: 1em;

}

nav a {
    text-decoration: none;
    padding: 20px;
    font-size: larger;
    color: white;
}

main {
    background-color: white;
    text-align: center;
}

h2 {
    padding: 20px;
    font-family: cursive;
    font-style: italic;

}

h3 {
    font-family: cursive;
}

section:nth-child(even) {
    background-color: rgb(241, 241, 241);
}

section {
    min-height: 100vh;
}

video {
    padding: 10px;
}

section h5 {
    margin: 40px;
}

footer {
    background-color: #333;
    overflow: hidden;
}

footer a {
    text-decoration: none;
    padding: 20px;
    text-align: center;
    float: left;
    color: white;
}

a:hover {
    color: skyblue;
    ;
}

a:link {
    background-color: transparent;
    text-decoration: underline;
}

#img {

    display: block;
    border-radius: 100%;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    width: 50%;
    height: 50%;
}

@media screen and (max-width: 600px) {
    iframe {
        height: 40vmin;
        width: 90vmin;
    }
}

ul {
    font-family: cursive;
    text-align: left;
    list-style-type: square;
    line-height-step: 10px;
    color: #333;
}


#one {
    font-family: cursive;
    color: #333e;
}

#two {
    font-family: cursive;
    color: #333;
}

#three {
    font-family: cursive;
    color: #333;
}

.e {
    background-color: skyblue;

}

img {
    position: relative;
    animation: move-right 2s ease 3;
}

@keyframes move-right {
    from {
        left: -100px;
    }

    to {
        left: 100px;
    }
}

#a {
    border: 10px solid #333;

}

.hobby-button {
    background-color: #333e;
    color: white;
    padding: 15px 32px;
    /* Padding */
    text-align: center;
    /* Center text */
    text-decoration: none;
    display: inline-block;
    /* Inline block */
    font-size: 22px;
    /* Font size */
    font-family: cursive;
    margin: 4px 2px;
    /* Margin */
    cursor: pointer;
    /* Pointer cursor on hover */
    animation: move-right 2s ease infinite;
    /* Animation */
    position: relative;
    border-radius: 50%;
    border-width: 5px;

}

@keyframes move {
    from {
        transform: translate(0, 0);
    }

    to {
        transform: translate(100px, 0);
    }
}

iframe {
    height: 75vmin;
}
